#goal {
    text-decoration: none;
    color: rgb(37, 99, 246);
}
#goal:hover {
    color:lightskyblue;
}
#welcome {
    padding-top: 30px;
    color: rgb(170, 144, 0);
}
#forgot_pass {
    padding-left: 20px;
}