#goal {
    text-decoration: none;
    color: rgb(37, 99, 246);
}
#goal:hover {
    color:lightskyblue;
}
#welcome {
    padding-top: 30px;
    color: rgb(170, 144, 0);
}
#forgot_pass {
    padding-left: 20px;
}
#quote {
    text-align: center;
    padding-top: 75px;
}
html, body {
    height: 100%;
    margin: 0;
}
.bg {
    background-image: url("/static/developian/marble_wallpaper.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
#me_pic {
    float: right;
    margin-left: 20px;
    width: 250px;
    height: 336px;
}