{% extends 'developian/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block page_header %}
<h1>Who, what, why?</h1>
{% endblock page_header %}

{% block content %}
<h4>
    Developian is a self-development brand which encourages big dreams,
    setting visions, and working aggresively towards making them a reality. 
</h4>
<br>
<br>
<p>
    Developian's power lies in the community. We have an ambitious culture which
    strives for greatness. We really shoot for the moon. While most people 
    find comfort in the simple lifestyle, we thrive in discomfort.
</p>
<br>
<p>
    Every single day is another opportunity. One to conquer, or to be conquered.
    Through regular goal setting, and daily scheduling, we hold ourselves accountable
    to working towards our vision, and conquering this life. 
</p>
<br>
<img src="{% static 'developian/profile_pic.jpg' %}" id="me_pic" style="height: 336px; width: 250px;">
<h4>About the creator:</h4>
<p>Have you ever found scheduling and goal setting apps hard to stick to?
    Well I definetely have. If you are a highly driven individual who wants to
    acheive great things, than we may be similar. My name is Michal Buczek 
    and I created this brand to help people like you, (and even myself), 
    develop a system of accountability and planning to help organize our 
    busy lives and aspirations. We all know that we should be more organized 
    with how we spend our time, but little of us actually do it. This website
    aims to solve that problem. So if your new here, give it a shot. It might
    stick with you or it might not, but it's important that you find out for 
    yourself. 
    
    Only those who take <bold>bold</bold> opporunities, have the potential to live a <bold>bold</bold> life.

    ~ <i>Michal Buczek</i>
</p>
<br>
<p>
    Got website improvement suggestions? Want to collab? Anything else?
</p>
<a class="btn btn-primary btn-sm mt-3"
href="mailto:developian.mail@gmail.com">Contact Me &raquo;</a>


{% endblock content %}