<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Developian</title>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'developian/developian_favicon.png' %}">
    <link rel="stylesheet" href="{% static 'developian/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body class="bg">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 border">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'developian:index' %}">
          Developian
        </a>
        <!--For handling cases where the browser screen is too narrow for horizontal nav bar-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-O">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:info' %}">
                Account
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'developian:goals' %}">
                Goals
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'developian:about' %}">
                About
              </a>
            </li>
          </ul> <!--End of links on left side of Navbar-->

          <!--Account Related links-->
          <ul class="navbar-nav ms-auto mb-2 mb-md-o">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <span class="navbar-text me-2">HELLO, {{ user.username.upper }}</span>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:register' %}">
                  Register
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:login' %}">
                  Log in
                </a>
              </li>
            {% endif %}
          </ul> <!--End of account related links-->

          {% if user.is_authenticated %}
            <form action="{% url 'accounts:logout' %}" method="post">
              {% csrf_token %}
              <button name="submit" class="btn btn-outline-secondary btn-sm">
                Log out
              </button> 
            </form>
          {% endif %}

        </div> <!--Closes collapsable parts of navbar-->

      </div> <!-- Closes navbar's container -->
    </nav> <!-- End of navbar -->

    <main class="container">
      <div class="pb-2 mb-2 border-bottom">
        {% block page_header %}{% endblock page_header %}
      </div>
      <div>
        {% block content %}{% endblock content %}
      </div>
    </main>

  </body>
</html>