<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <title>Developian</title>
</head>
<body>
  <h4>
    <a href="{% url 'developian:index' %}" 
    title="Home"
    id="title"
    style="padding-right: 20px;"
    >Home</a>

    <a href="{% url 'developian:goals' %}"
    title="Goals"
    id="goals"
    >Goals</a>
  </h4>
  {% block content %}{% endblock content %}
</body>
</html>
