{% extends 'developian/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}
<h3><a href="{% url 'developian:goal' goal.id %}" 
  style="text-decoration: None; color: black;">{{ goal }}</a></h3>
{% endblock page_header %}

{% block content %}
  <h5>Edit Reflection:</h5>
  <form action="{% url 'developian:edit_reflection' reflection.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="Save" %}
    <!-- {{ form.as_div }}
    <button name="submit">Save</button> -->
  </form>
{% endblock content %}