{% extends 'developian/base.html' %} 

{% block page_header %}
  <h1>Goals</h1>
{% endblock page_header %}

{% block content %}
  <ul class="list-group border-bottom pb-2 mb-4">
    {% for goal in goals %}
      <li class="list-group-item border-o">
        <a href="{% url 'developian:goal' goal.id %}">{{ goal.text }}</a>
      </li>
    {% empty %}
      <li class="list-group-item border-o">No goals have been added yet!</li>
    {% endfor %}
  </ul>

  <a href="{% url 'developian:new_goal' %}">Add Goal</a>

{% endblock content %}