{% extends 'developian/base.html' %}

{% block page_header %}
  <h2>Goal: {{ goal.text }}</h2>
{% endblock page_header %}

{% block content %}
  <p>
    <a class="btn btn-primary btn-sm" href="{% url 'developian:new_reflection' goal.id %}">Add Reflection</a>
  </p>
  
  {% for reflection in reflections %}
    <div class="card mb-3">
      <!-- Card header with timestamp and edit link -->
      <h4 class="card-header d-flex justify-content-between align-items-center">
        {{ reflection.date_added|date:'M d, Y H:i' }}
        <small><a class="btn btn-primary btn-sm" 
          href="{% url 'developian:edit_reflection' reflection.id %}">
          edit reflection
        </a></small>
      </h4>
      <!-- Card body with reflection text -->
       <div class="card-body">{{ reflection.reflection|linebreaks }}</div>
    </div>
  {% empty %}
    <p>No reflections have been created yet!</p>
  {% endfor %}
{% endblock content %}