{% extends 'developian/base.html' %}

{% block content %}
  <h2>Goal: {{ goal.text }}</h2>

  <h4>Entries</h4>

  <p>
    <a href="{% url 'developian:new_reflection' goal.id %}">Add Reflection</a>
  </p>
  <ul>
    {% for reflection in reflections %}
      <li>
        <p>{{ reflection.date_added|date:'M d, Y H:i' }}</p>
        <ul>
          <li>
            <p>{{ reflection.reflection|linebreaks }}</p>
            <p>
              <a href="{% url 'developian:edit_reflection' reflection.id %}">
                Edit Reflection</a>
            </p>
          </li>
        </ul>
      </li>
    {% empty %}
      <li>No reflections have been created yet!</li>
    {% endfor %}
  </ul>
{% endblock content %}