{% extends "developian/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
  <h3><a href="{% url 'developian:goal' goal.id %}" 
    style="color: black; text-decoration: none;">{{ goal }}</a></h3>
{% endblock page_header %}


{% block content %}
  <h5>Add a Reflection:</h5>
  <form action="{% url 'developian:new_reflection' goal.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="Add Reflection" %}
  </form>
{% endblock content %}