{% extends 'developian/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block page_header %}
  <h1>Schedule</h1>
{% endblock page_header %}

{% block content %}
  <div class="container" style="background-color: white; border: 1px solid grey; border-radius: 8px;">
      <div class="row">
        <div class="col" style="flex: 1; border-right: 1px solid grey; padding: 10px; border-bottom: 1px solid grey; text-align: center;">00</div>
        <div class="col" style="flex: 2; border-right: 1px solid grey; padding: 10px; border-bottom: 1px solid grey; text-align: center;">--</div>
        <div class="w-100"></div>
        <div class="col" style="flex: 1; border-right: 1px solid grey; padding: 10px; border-bottom: 1px solid grey; text-align: center;">01</div>
        <div class="col" style="flex: 2; border-right: 1px solid grey; padding: 10px; border-bottom: 1px solid grey; text-align: center;">--</div>
      </div>
  </div>
{% endblock content %}