{% extends 'developian/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block page_header %}
  <h1>Schedule</h1>
{% endblock page_header %}

{% block content %}
  <h3>Daily Schedule</h3>
  <h4 style="text-align: center;">{{ date }}</h4>
  <div class="container" style="background-color: white; border: 1px solid grey; border-radius: 2px; max-width: 30%;"> 
      {% for time in times %}
        <div class="row">
          <div class="col text-center" style="background-color: rgb(222, 222, 222); border-right: 1px solid grey; border-bottom: 1px solid grey; text-align: center; border-radius: 2px;">{{ time }}</div>
          <div class="col text-center" style="border-right: 1px solid grey; border-bottom: 1px solid grey; text-align: center; border-radius: 2px;">--</div>
        </div>
      {% endfor %}  
  </div>
{% endblock content %}