{% extends 'developian/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block page_header %}
  <h1>Schedule</h1>
{% endblock page_header %}

{% block content %}
  <div class="container">
    <!-- {% for time in ["00", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23"] %} -->
      <div class="row">
        <div class="col">00</div>
        <div class="col">--</div>
        <div class="w-100"></div>
        <div class="col">01</div>
        <div class="col">--</div>
      </div>
    <!-- {% endfor %}   -->
  </div>
{% endblock content %}