{% extends 'developian/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}
  Change Password
{% endblock page_header %}

{% block content %}
  {% if validlink %}
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_button button_type='submit' content="Change Password" %}
    </form>
  {% else %}
    <p>
      The password reset link was invalid. Please request a new password reset.
    </p>
  {% endif %}
{% endblock content %}

<!-- action="{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}" -->